@model CarsInventoryApp.Models.CarInventory
@using (Html.BeginForm("EditCar", "Cars", FormMethod.Post))
    {
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Edit a car</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Brand)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(x => x.Brand, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Brand)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Model)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(x => x.Model, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Model)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Year)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(x => x.Year, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Year)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Price)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Price)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.New)
                        </div>
                        <div class="editor-field">
                            @*@Html.CheckBoxFor(m => m.New)*@
                            @Html.CheckBoxFor(x => x.New, new { @checked = "checked" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript: CI.modalPopup.removeValidation(this);">Cancel</button>
                <button type="submit" id="approve-btn" class="btn btn-danger">Save</button>
            </div>
        </div>
    </div>
}
    <script type="text/javascript">
    </script>
